<%= form_for @note,:url =>  @note.new_record? ? notes_path : note_path(@note), :method => @note.new_record? ? :post : :put do |f| %>
  <h3>Chalk Board</h3>
  <div class="row" style="margin-left: 10px;">
    <div class="tiles white">

  <%#*<textarea rows="3" name="note[note]" class="form-control user-status-box post-input"  placeholder="Write Notes here..." style="width: 100%"></textarea>%>
      <%= best_in_place @note, :note, :type => :textarea, :nil => "Click here to enter notes...", :display_with => :simple_format %>
    </div>
    <div class="tiles grey padding-10">
      <div class="clearfix"></div>
    </div>
  </div>
<%end%>

<h1></h1>
<div id="myPublisherDiv">
</div>
<style type="text/css">
<%#*.OT_mirrored{%>
<%#*margin-top: -200px;%>
<%#*}%>
  textarea{
    width: 600px;
    height: 100px;
  }
</style>
<script src="/assets/video-tok.js" type="text/javascript"></script>