<div class="row" style="margin-left: 10px;">
  <%unless @users.blank?%>
    <%@users.each do |user|%>
      <div class="col-md-4">
	<%= link_to user.email, user_path(user) %>
	<%#= link_to "Send Message", "#{}", class: "btn" %>
      </div>
    <%end%>
  <%else%>
    You have no Pals
  <%end%>
</div>
